/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-7-24, 16:08:31
    Author     : lenovo
*/

/*.tittlebt{
    background-image: url(../img/a.png) !important;
}*/

body{
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    background-color: #eee;
    margin: 20px auto;
}

.iconbt{
    display: block;
    height: 120px;
    width: 100px;
    float: left;
    margin: 0px 50px;
    /*border:solid 1px black;*/
    
    text-align: center;
    text-decoration: none;
}

.iconbt:hover{
    background-color: #cccccc;
}

.iconbt:active{
    color: -webkit-link;
}


.usrbt{
    display: block;
    height: 20px;
    width: 100px;
    float:right;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    /*border:solid 1px black;*/
}


.usrbt:hover{
    color: orangered;
    /*background-color: blue;*/
}

.usricon{
    margin-right: 10px;
    vertical-align: middle;
}